@if (PersonalProfile != null)
{
    <div>
        <div class="row">
            <div class="col-sm-12 text-center">@PersonalProfile.FirstName @PersonalProfile.LastName</div>
        </div>
    </div>

    <h3>Perfil Personal</h3>
    <div class="row">
        <div class="col-sm-12">
            @PersonalProfile.Description
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <b>Teléfono:</b> @PersonalProfile.Phone
        </div>
        <div class="col-sm-3">
            <b>Email:</b> @PersonalProfile.Email
        </div>
        <div class="col-sm-3">
            <b>GitHub:</b> @PersonalProfile.GitHub
        </div>
        <div class="col-sm-3">
            <b>Página web:</b> <a href="@PersonalProfile.Website">@PersonalProfile.Website</a>
        </div>
    </div>
}

@code {

   

}
