@using WebPersonal.Shared.Dto;

<div>
    <div class="row">
        <div class="col-sm-12 text-center">@PersonalProfile.FirstName @PersonalProfile.LastName</div>
    </div>
</div>

<h3>Perfil Personal</h3>
<div class="row">
    <div class="col-sm-12">
        @PersonalProfile.Description
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <b>Teléfono:</b> @PersonalProfile.Phone
    </div>
    <div class="col-sm-3" style="border: 1px solid @BorderColor">
        <b>Email:</b> @PersonalProfile.Email
    </div>
    <div class="col-sm-3" style="background-color: @BackgroundColor">
        <b>GitHub:</b> @PersonalProfile.GitHub
    </div>
    <div class="col-sm-3">
        <b>Website:</b> <a href="https://@PersonalProfile.Website">@PersonalProfile.Website</a>
    </div>
</div>

@code {
    [Parameter]
    public PersonalProfileDto PersonalProfile { get; set; }

    [CascadingParameter(Name ="borde")]
    public string BorderColor { get; set; }

    [CascadingParameter(Name = "background")]
    public string BackgroundColor { get; set; }
}
